* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0a0a0a;
  color: white;
  font-family: sans-serif;
}

@keyframes DropEffect {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0px);
  }
}

nav ul {
  list-style: none;
  column-gap: 2rem;
}
nav ul li {
  position: relative;
  cursor: pointer;
  user-select: none;
  animation: DropEffect var(--t) linear;
}

nav ul li::before {
  content: "";
  transition: 0.3s;
  height: 5%;
  background-color: white;
  width: 0%;
  position: absolute;
  left: 0;
  bottom: 0;
}

nav ul li:hover::before {
  width: 100%;
}

main {
  height: 85vh;
  width: 100vw;
  display: flex;
  align-items: stretch;
  justify-items: center;
}

#Content {
  width: 50%;
}
@keyframes TextChanger {
  0% {
    color: teal;
  }
  25% {
    color: rgb(255, 4, 96);
  }
  50% {
    color: rgb(255, 255, 255);
  }
  75% {
    color: rgb(0, 255, 94);
  }
  100% {
    color: rgb(212, 255, 0);
  }
}

#Content h2:last-of-type {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 2px solid #7ac0b7; /* The typwriter cursor */  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 60%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

#Banner {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#Banner img {
  height: 38rem;
  width: 38rem;
  object-fit: contain;
  object-position: center;
}

#Content {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  padding-top: 7rem;
  padding-left: 5rem;
}

#Content h2 {
  /* position: relative;
    top: 100px;
    left: 80px; */
  font-size: 5.6rem;
  margin-bottom: 1rem;
}
#Content p {
  /* position: relative;
    top: 100px;
    left: 80px; */
  font-size: 1rem;
}

#BookNow {
  /* position: relative;
    top: 100px;
    left: 100px; */
  padding: 0.7rem 2rem;
  border: none;
  font-size: 1.2rem;
  border-radius: 30px;
  background-color: #7ac0b7;
  color: white;
  position: relative;
  margin-top: 1.5rem;
}

#BookNow::after {
  content: "";
  height: 100%;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;

  border-radius: 30px;
  background-color: white;
  z-index: -1;
  transition: 0.3s;
}

#BookNow:hover::after {
  left: 100px;
  width: 140%;
  content: "Test Drive";
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://i.pinimg.com/originals/55/63/a2/5563a2e59d244b6934551c4d90be4dd2.gif");
  background-size: 40% 110%;
  background-repeat: no-repeat;
  background-position: right;
}

#BookNow:active {
  transform: scale(0.95);
}

@media screen and (max-width: 1268px) {
  :root {
    font-size: 14px;
  }
  main {
    flex-direction: column;
    height: fit-content;
  }
  #Banner {
    width: 100%;
    height: fit-content;
  }
  #Content {
    width: 100%;

    height: fit-content;
  }
}

@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
  }
}
@media screen and (max-width: 568px) {
  :root {
    font-size: 11px;
  }
}
